<div class="center jumbotron">
  <h1>USMAI</h1>

  <h2>
    This is the home page for the University System of Maryland & Affiliated Institutions.

  </h2>

  <%= link_to "USMAI Workspace", 'http://usmai-confluence-sandbox.lib.umd.edu/confluence', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("http://usmai.org/sites/public/themes/zen_lib_usmai_public/logo.png", alt: "USMAI"),
            'http://usmai.org/' %>
