// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* blog */
.blog-post {
  margin-top: 50px;
  margin-bottom: 50px;
}

.blog-title-block {
  margin-bottom: 20px;
  margin-top: 0;
}

h3 .blog-title {
  font-size: 1.5em;
  font-weight: bold;
}
